@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');

.link {
	text-decoration: none;
	color: white;
	&:hover {
		color: gray;
		text-shadow: black;
	}
}

#index1 {
	position: fixed;
	top: 20%;
	padding: 0;
	margin: 0 auto;
	font-family: 'Peddana';
	font-size: 30px;
	color: #fff;
	transform: translatey(30px);
	opacity: 0;

	&.visible {
		opacity: 1;
		transform: translateY(0);
		transition: all 1.1s;
	}
}
#scrollBtn {
	position: fixed;
	left: 50%;
	top: 80%;
	padding: 0;
	margin: 0 auto;
	font-size: 6em;
	color: #fff;
	transform: translatey(30px);
	opacity: 0;

	&.visible {
		opacity: 1;
		transform: translateY(0);
		transition: all 1.1s;
	}
}